<footer class="site-footer clearfix">
 <section class="copyright"><a href="<%- config.root %>"><%- config.title %></a> &copy; 2015 &bull; All rights reserved. <%- partial('post/analytics') %></section>
 <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://flamepeak.com/tags/hexo/"> Hexo</a></section>
</footer>
